*{
 color: black; 
}
/* header */
header {
  text-align: right;
  border-style: groove;
  text-align: right;
  margin: 10px;
  background-size: cover;
  height: 50%;
}

.navbar-nav {
  text-align: right;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

.nav-link:hover {
  color: #007bff;
}

.logo {
  width: 150px;
}

.navbar-collapse {
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* main */
.titulo {
  margin: 30px;
}
.carousel-inner img {
  max-width: 100%;
  height: 450px;
}

.rowSection2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.card {
  transition: transform 0.3s ease-in-out;
}
.card-group {
  width: 10rem; /* Ajusta este valor según tus preferencias */
  margin: 10px; /* Espacio entre las tarjetas */
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-family: Arial, sans-serif;
}


.imagenVisual {
  width: 100%;
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 10px 5px 3px;
}

.container1 {
  display: auto;
  margin: auto;
  padding: auto;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-title {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.product-description {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.imagendeproducto {
  width: 100%;
  box-shadow: 10px 5px 3px;
}

.productopromo {
  left: 15px;
}

.texto {
  text-align: center;
}

.boton {
  border-bottom: black;
  border-radius: 2rem;
  background-color: #EDBB99;
  bottom: center;
  font-size: medium;
}

.links {
  margin: 20px;
}

.promociones {
  justify-content: space-evenly;
}

.div1 {
  margin: 3%;
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.boton {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #EDBB99;
  color: white; /* Cambia el color del texto para que sea legible */
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.boton:hover {
  background-color: #0056b3;
}
.product-card1 {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.product-card1:hover {
  transform: translateY(-5px);
  background-color: #f2f2f2;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.product-title {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.product-description {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.product-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(54, 54, 231);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.product-button:hover {
  background-color: #0056b3;
}

.whatsapp {
  width: 200px;
  height: 150px;
  margin: 10px;
}

.arroba {
  width: 200px;
  height: 150px;
  margin: 10px;
}

.card-group {
  width: 100%;
  gap: 2rem;
}

.promos {
  border-style: solid;
  width: 100%;
  margin: 15px;
  border-color: coral;
}

.formulario {
  border-style: double;
  width: auto;
  border-color: cadetblue;
}

.contenedorPagos {
  display: flex;
  gap: 2rem;
  max-width: 800px;
  margin: 10rem;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  align-items: flex-start;
}

h6 {
  text-align: left;
  margin-bottom: 20px;
}

.payment-method {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.payment-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.packModificacion .promos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.promo-title {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #007bff;
  transition: color 0.3s ease-in-out;
}

.promo-description {
  font-size: 1rem;
  margin: 1rem 0;
  opacity: 0.8;
  max-width: 80%;
  transition: opacity 0.3s ease-in-out;
}

.promo-title:hover {
  color: #0056b3;
}

.promo-title:hover + .promo-description {
  opacity: 1;
}

.contenedorIngresos {
  width: 50%;
  margin: 0 auto;
  border: 2px double #000;
  padding: 10px;
  background-color: bisque;
}
.contenedorIngresos .imagenIngresos {
  width: 30%;
  margin: 50px;
}

.contenedorTexto {
  text-align: left;
  margin: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.contact-icon {
  width: 25px;
  margin-right: 10px;
}

.contact-label {
  font-size: 16px;
  color: #333;
}

.empresa {
  width: 60%;
  border-style: groove;
  font-size: large;
  font-style: italic;
  background-color: beige;
}

.textoPromo {
  width: 60%;
  border-style: groove;
  font-size: large;
  font-style: italic;
  background-color: bisque;
  margin: 1rem;
}

.rowSection3 {
  margin-top: 100px;
}

footer {
  background-color: #1d67f1;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 15px;
}

footer a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

footer a:hover {
  color: #0056b3;
}



/*# sourceMappingURL=estilo.css.map */
